.Rounded_Rectangle_1 {
  border-radius: 10px;
  background-color: rgb(99, 143, 179);
  position: absolute;
  left: 450px;
  top: 360px;
  width: 1350px;
  height: 495px;
  z-index: 2;
}
.Layer_1 {
  background-image: url("Layer 1.png");
  position: absolute;
  left: 71px;
  top: 233px;
  width: 201px;
  height: 201px;
  z-index: 2;
}
